@{
    ViewData["Title"] = $"E500/DB";
}

<h1>Miss database, get down!!!</h1>
<p>Scrubby is currently having trouble connecting to the database. Our poor little Bobbahbrown is probably hard at work fixing this, but feel free to let him know if you feel he doesn't already!</p>
<p>You can reach him at <b class="text-muted">bobbahbrown#0001</b><i class="fab fa-discord text-muted"></i> on Discord.</p>