@{
    ViewData["Title"] = $"E500";
}

<h1>OOPSIE WOOPSIE!!!</h1>
<h2>Errowr 500</h2>
<p>Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!</p>