@{
    ViewData["Title"] = "Investigation";
}

<script>var clipboard = new ClipboardJS('.copy-link');</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Gateway</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Investigate</li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto order-last order-md-2">
            <div style="text-align: center;" >
                <h1>Investigation Gateway</h1>
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <h3>Players</h3>
    <div class="ms-4">
        <a class="btn btn-primary" asp-controller="Investigate" asp-action="InvestigateConnections">Connections</a>
        <a class="btn btn-primary" asp-controller="Investigate" asp-action="InvestigateSuicides">Suicides</a>
    </div>
</div>