@model IEnumerable<Scrubby.Web.Models.Data.ScrubbyAnnouncement>
<div id="alert-container">
    @foreach (var alert in Model)
    {
        <div class="alert alert-warning" role="alert">
            @alert.Message
        </div>
    }
</div>